/* This contains all the external styles for the dev-circle web application*/

.logo{ height:70px; }
.home-navig-link{ color:#1b9d46 !important; }

/* This controls the banner on the home page  */
#home_banner{ 
	background-image: url("../images/computers.jpg"); height:75vh; background-size: 100% 100%;
} 
#banner_overlay{
	background-color: rgba(0,0,0,0.3); height: 75vh;
}

/* This controls the container on the dev landing page  */
.whitebg{
	background-color: #fff;
}

/* This controls the appearance of the div of each group when you have to select a group from a list of groups  */
.select_group:hover{
	background-color: rgba(0,0,0,0.05);
}
