/* This contains all the external styles for the dev-circle web application*/

.logo{ height:70px; }
.home-navig-link{ color:#1b9d46 !important; }

/* This controls the banner on the home page  */
#home_banner{ 
	background-image: url("../images/computers.jpg"); height:65vh; background-size: 100% 100%;
} 
#banner_overlay{
	background-color: rgba(0,0,0,0.6); height: 65vh;
}

/* This controls the container on the dev landing page  */
.whitebg{
	background-color: #fff;
}

/* This controls the appearance of the div of each group when you have to select a group from a list of groups  */
.select_group:hover{
	background-color: rgba(0,0,0,0.05);
}

/*This controls the appearance of the col div where all and the available group members are shown*/
#members_col{
	max-height: 75vh; overflow: auto;
}

/* This controls the colouring and adjustments of the divs that contain text that you send or receive */
.sent_text{ background-color: rgba(71, 188, 69, 0.2); }
.received_text{ background-color:rgba(227, 230, 220, 1.0); }
#correspondence_messages{ overflow:auto; max-height: 60vh; }

/* This is used to control the col that contains all group members on the messages page */
#messages_all_grp_members{ max-height: 85vh; overflow: auto; }

/* This controls the heading and text  */
#home_welcome_heading{ font-size: 3.5em; color: rgb(71, 188, 69);}
.home_banner_text{ font-size: 1.5em; }
.home_normal_text{ font-size: 2.0em; }

/* This controls the footer */
#footer_area{ height:25vh; background-color: rgba(36, 38, 86, 1.0); }

/* This is just to quickly style the links to specific groups on the groups page */
#visit_group_link{ text-decoration: none;}

/* This controls the specific group page */
#grp_desc_area{ background-color: rgba(0, 168, 93, 0.15); }

/* The 'me' page */
.yellowish_area{ background-color: rgba(224, 225, 102, 1.0); }



/* Media queries */
@media screen and (max-width:426px) {
	#home_welcome_heading{ font-size: 2.5em; }
	.home_banner_text{ font-size: 1.2em; }
	.home_normal_text{ font-size: 1.5em; }
	#home_banner{ height:70vh; } 
	#banner_overlay{ background-color: rgba(0,0,0,0.6); height: 70vh; }
}