{% extends 'landing/base.html' %}


{% block body %}
{% if dlang == [] %}
<div class= "row whitebg" id= "new_choose_language">
	<div class= "col">
		<p>Welcome to Dev-Circle. Choose some languages to get started</p>
		<form id= "land_choose_lang">
			<div class= "row">
				{% for i in lang %}
				<div class= "col-3">
					<input type= "checkbox" name= "language" value= "{{i.lang_id}}">
					<label class= "form-label">{{i.lang_name}}</label>
				</div>
				{% endfor %}
			</div>
			<input type= "hidden" name= "csrf_token" id= "csrf_token" value= {{csrf_token()}}>
			<div>
				<button class= "btn btn-primary rounded-pill" type= "button" onclick= "choose_language({{dev.dev_id}}, 'land_choose_lang')">Save</button>
			</div>
		</form>
	</div>
</div>

{% else %}

<div class= "row whitebg mb-2">
	<div class= "col">
		<div class= "row">
			<div class= "col">
				<p class= "bg-success text-light text-center"><b>MAKE A POST</b></p>
				<form>
					<div class= "mb-2">
						<select class= "form-select" id= "post_choosegroup">
							<option value= "">Choose Group</option>
							{% if m != [] %}
							{% for i in m %}
							<option value= "{{i.grp_id}} {{i.mem_id}}">{{i.group.grp_name}}</option>
							{% endfor %}
							{% endif %}
						</select>
					</div>
					<div class= "mb-2">
						<label class= "form-label">Title(optional)</label>
						<input type= "text" name= "post_title" id= "post_title" class= "form-control">
					</div>
					<div class= "mb-1">
						<textarea class= "form-control" style= "height:100px;" name= "devpost" id= "devpost" placeholder="Write post here."></textarea>
					</div>
					<div>
						<button type= "button" class= "btn btn-success" onclick= "
						var value= $('#post_choosegroup').val();
						var val= value.split(' ');
						submit_post(Number(val[0]), Number(val[1]), '{{csrf_token()}}', '{{request.path}}');
						">Post</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class= "row"><div class= "col post_container">
{% if posts != [] %}
{% for p in posts %}
<div class= "row whitebg mb-2 select_group">
	<div class= "col" onclick= "view_post({{p.post_id}}, {{p.group.grp_id}}, {{p.poster.mem_id}})">
		<small class= "mb-1">(image here) {% if p.poster.developer.username ==  dev.username %} You {% else %}{{p.poster.developer.username}} {% endif %} on {{p.date_posted.strftime('%d %b, %Y.  %H:%M')}}</small>
		<h5>{{p.title}}</h5>
		<p style= "max-height:10vh">{{p.post}}</p>
		<small>Group: {{p.group.grp_name}}</small>
	</div>
</div>
{% endfor %}
{% else %}
<div class= "row whitebg mb-2">
	<div class= "col">
		<p>There are no posts from any of your groups.</p>
	</div>
</div>
{% endif %}
</div></div>


{% endif %}


<div class= "row whitebg" id= "show_groups" hidden>
	<div class= "col" id= "new_choose_group_col"></div>
	{% include 'landing/group_info_section.html' %}
</div>


{% include 'landing/post_comment_modal.html' %}
{% endblock body %}

{% block internal_scripts %}
{% endblock internal_scripts %}