	<div class= "col whitebg" id= "group_info">
		<h3 id= "ginfo_name">Group Name Placeholder</h3>
		<p id= "ginfo_desc">Group Description Placeholder</p>
		<p><i id= "ginfo_type">Group Type Placholder</i></p>
		<br>
		<h4>Rules</h4>
		<ol id= "ginfo_rules">Group Rules Placeholder</ol>
		<a class= "btn btn-secondary" id= "ginfo_link">Go to Group Page</a>
		<input type= "hidden" id= "ginfo_id">
		<button class= "btn btn-success" id= "ginfo_join">Join Group</button>
		<button class= "btn btn-danger d-none" id= "ginfo_leave">Leave Group</button>
	</div>