{% extends 'landing/base.html' %}

{% block body %}
<div class= "row">
	<div class= "col-3 me-2 d-none d-sm-block">
		<div class= "row bg-success text-light pb-2">
			<div class= "col text-center">
				<h5>Recommended Groups</h5>
			</div>
		</div>

		{% if thgm != [] %}
		{% for i in thgm %}
		<div class= "row whitebg mb-2">
			<div class= "col">
				<p>{{ i.grp_name }}</p>
				<small>Members: {{rtotalmem[loop.index - 1]}}</small>
				<div>
					<a href= "/groups/{{i.grp_id}}/" class= "btn btn-secondary m-1">Visit Group</a>
					<button class= "btn btn-outline-danger ginfo_leave m-1" id= "leave_{{i.grp_id}}" onclick= "leave_group({{i.grp_id}}, 'leave_{{i.grp_id}}', 'join_{{i.grp_id}}')">Leave Group</button>
					<button class= "btn btn-outline-success ginfo_join m-1" id= "join_{{i.grp_id}}" onclick= "join_group({{i.grp_id}}, 'leave_{{i.grp_id}}', 'join_{{i.grp_id}}')">Join Group</button>
				</div>

			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class= "row">
			<div class= "col">
				<p><b>There are no groups to recommend currently</b></p>
			</div>
		</div>
		{% endif %}
	</div>



	<div class= "col">
		<div class= "row mb-2">
			<div class= "col bg-success d-inline d-sm-none text-center">
				<button class= "btn btn-success" data-bs-toggle= "modal" data-bs-target= "#create_group_modal">Create Group</button>
			</div>
		</div>

		<div class= "row whitebg mb-2">
			<div class= "col">
				<form action= "/groups/search/">
					<div class= "mb-1">
						<input type= "text" name= "group" id= "group_search" class= "form-control" placeholder="Search for groups here">
					</div>
					<div class= "text-center">
						<button class= "btn btn-success">Search</button>
					</div>
				</form>
			</div>
		</div>

		{% if agrps != [] %}
		{% for i in agrps %}
		<div class= "row whitebg mb-1 select_group">
			<a href= "/groups/{{i.group.grp_id}}/" id= "visit_group_link">
				<div class= "col">
					<h3>{{i.group.grp_name}}</h3>
					<small style= "color:black">Members: {{tomem[loop.index - 1]}}</small>
				</div>
			</a>
		</div>
		{% endfor %}
		{% else %}
		<div class= "row">
			<div class= "col">
				<h4>You have not joined any groups yet.</h4>
			</div>
		</div>
		{% endif %}
	</div>


	<div class= "col-2 ms-1 d-none d-sm-block">
		<p class= "whitebg text-center p-2">
			<button class= "btn btn-success" data-bs-toggle= "modal" data-bs-target= "#create_group_modal">Create Group</button>
		</p>
	</div>
</div>

{% include 'landing/create_group_modal.html' %}
{% endblock body %}

{% block internal_scripts %}
<script type= "text/javascript">
$(document).ready(function(){
	$('.ginfo_join').removeClass('d-none');
	$('.ginfo_leave').addClass('d-none');
});	

</script>
{% endblock internal_scripts %}